/* General styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.box {
    border: 1px solid #ccc;
    /* overflow-y: auto; */
}

/* Section styles */
.search-section, .visual-section {
    display: flex;
    height: 100vh;
    width: 100vw;
}

/* Search area */
.searching-area {
    height: 100vh;
    width: 50vw;
}

.init-recom-area {
    height: 100vh;
    width: 50vw;
}

/* Visual area */
/* Left info area */
#left-area {
    width: 20vw;
    height: 100vh;
}

#tree-svg {
    width: 100%;
    height: 100%;
}

/* Middle graph area */
#middle-area {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 50vw;
    height: 100vh;
}

#graph-area {
    height: 20vh;
}

#graph-tree-area {
    height: 80vh;
}

/* Right info area */
#right-area {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 30vw;
    height: 100vh;
}

.header {
    margin: 5px;
}

.node {
    cursor: pointer;
}

.link {
    stroke: gray;
    stroke-width: 2px;
    fill: none;
}

.cluster_lable {
    fill: black;
    text-anchor: middle;
    dominant-baseline: central;
}
